$-color-text-main: #303133;
$-color-text-com: #606266;
$-color-text-sub: #909399;
$-color-text-palce: #C0C4CC;
$-color-primary: #31bbac;
$-color-primary-light: #55C6C1;
$-color-icon: #6ACCC8;
$-box-shadow-s: 0 3px 5px 0 rgba(0,0,0,.1);
